<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
</head>
<body>
    <h1>Wellcome</h1>
    {% for libros in libro %}
    <h5>Titulo: {{ libros.titulo }}</h2>
    <h5>Descripcion: </h5><p>{{ libros.descripcion|linebreaksbr }}</p>
    <h5>Fecha Publicacion: {{ libros.published_date }}</h5>
    {% endfor %}
</body>
</html>