{% extends 'libros/base.html' %}

{% block content %}
    {% for libros in libro %}
        <div class="book">
            <div class="date">
                <p><i><b> Fecha Publicacion:</b> {{ libros.published_date }}</i></p>
            </div>
                <h5>Titulo: </h5><p><a href="{% url 'libro_detail' pk=libros.pk %}">{{ libros.titulo }}</a></p>
                <h5>Descripcion: </h5><p>{{ libros.descripcion|linebreaksbr }}</p><hr>
        </div>
    {% endfor %}
{% endblock %}                     
           